body{
	padding-left: 200px;
	padding-right: 200px;
}
.top{
	width:800px;
	background:green;

}
.leftbox{
	width:200px;
	background: red;
	float:left;

}

.mainbox{
	width:400px;
	background: yellow;
	float:left;
}

.rightbox{
	width:200px;
	background:purple;
	float:left;
}